.container {
  max-width: calc(100% - 40px);
  margin: 0 auto;
  padding: 20px;
  direction: rtl;
  font-family: Arial, sans-serif;
}

.search-form {
  margin-bottom: 20px;
}

.search-form h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.search-fields {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.search-fields .p-inputtext,
.search-fields .p-dropdown {
  width: 200px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.button-container p-button {
  margin-right: 10px;
}

.content-wrapper {
  display: flex;
  gap: 20px;
}

.table-container {
  flex: 1;
  overflow-x: auto;
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: #007bff;
  color: white;
  padding: 12px;
  font-size: 1.1rem;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #f5f5f5;
}

.p-datatable .p-column-filter {
  width: 100%;
}

.details-container {
  flex: 0 0 350px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.operation-list {
  list-style: none;
  padding: 0;
}

.operation-list li {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
}

.add-button {
  margin-top: 20px;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Optional: semi-transparent overlay */
  z-index: 1000; /* Ensure it appears above other content */
}

:host ::ng-deep .p-progressSpinner {
  width: 50px;
  height: 50px;
}

p-fileUpload {
  margin-right: 12px;
}



@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  .details-container {
    flex: 1;
  }

  .search-fields .input,
  .search-fields .p-dropdown {
    width: 100%;
  }
}

::ng-deep .selected-row {
  background-color: #87ceeb !important;
  color: #000 !important;
}
