<div class="operation-list-container" dir="rtl">
  <div class="table-container">
    <p-table
      [value]="operations"
      [tableStyle]="{'min-width': '100%'}"
      styleClass="p-datatable-gridlines p-datatable-striped"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="operationName">اسم العملية <p-sortIcon field="operationName" /></th>
          <th pSortableColumn="oldValue">القيمة القديمة <p-sortIcon field="oldValue" /></th>
          <th pSortableColumn="newValue">القيمة الجديدة <p-sortIcon field="newValue" /></th>
          <th pSortableColumn="comment">ملاحظة <p-sortIcon field="comment" /></th>
          <th pSortableColumn="userName">تم بواسطة <p-sortIcon field="userName" /></th>
          <th pSortableColumn="createdAt">تاريخ الإنشاء <p-sortIcon field="createdAt" /></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-operation>

        <tr>

          <td>{{ operation.operationName || '-' }}</td>
          <td>{{ operation.oldValue      || '-' }}</td>
          <td>{{ operation.newValue      || '-' }}</td>
          <td>{{ operation.comment       || '-' }}</td>
          <td>{{ operation.userName      || '-' }}</td>
          <td>{{ operation.createdAt     | date: 'short'  }}</td>

        </tr>
        
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">لا توجد عمليات متاحة.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
      </ng-template>
    </p-table>
  </div>
  <div class="button-container">
    <p-button
      label="إغلاق"
      icon="pi pi-times"
      (click)="closeDialog()"
      styleClass="p-button-secondary"
    />
  </div>
</div>